runnings/*
data/pretrain_model/bert_base_uncased/pytorch_model.bin
data/pretrain_model/bert_base_uncased/vocab.txt
output_data/webq/*
Build_Data/__pycache__/read_query_graph.cpython-36.pyc
Build_Data/__pycache__/sample_pos_and_neg.cpython-36.pyc
Model/__pycache__/cal_f1.cpython-36.pyc


Build_Data/__pycache__/read_query_graph.cpython-36.pyc
Build_Data/__pycache__/read_query_graph.cpython-36.pyc
Model/Pairwise/__pycache__/DataProcessor.cpython-36.pyc
Model/Pairwise/__pycache__/InputFeatures.cpython-36.pyc
Model/Pairwise/__pycache__/InputExample.cpython-36.pyc
Model/__pycache__/*
Model/Pairwise/__pycache__/BertEncoderX.cpython-36.pyc
Model/__pycache__/cal_f1.cpython-36.pyc
Build_Data/__pycache__/read_query_graph.cpython-36.pyc
Build_Data/__pycache__/sample_pos_and_neg.cpython-36.pyc
eval/bert_webq_pairwise*.txt
Model/Pairwise/__pycache__/Embedding.cpython-36.pyc
eval/bert_*.txt
